body
{
    border: 3px outset;
    border-radius: 40px;
    background-image: url(../images/depositphotos_130075328-stock-photo-background-of-snow-texture.jpg);
    box-shadow: 6px 6px 6px black; 
}

.nom, .portable, .mail
{
    font-size: 30px;
}

.tittle
{
    background-color: rgb(108, 13, 233);
}

.sub_tittle
{
    text-align: center;
}

.font_size
{
    font-size: 40px;
}
h1
{
    text-align: left;
    color:white;
}

h2
{
    text-align: center;
    color:white;     
}

strong
{
    font-size: 30px;
    font-size: large;
    font-style: italic;
    padding: 20px;
}

p
{
    font-size: 25px;
    text-align: match-parent;
    padding: 12px;
}

.text_introduction, .head_exp
{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
}
li
{
    font-size: 25px;
}

.photo
{
    float: right;
    height: 250px;
    width: 250px;    
    border-radius: 20px;
    box-shadow: 6px 6px 6px black;
    margin-right: 80px;
    margin-top: 60px; 
}

a:visited
{
    color: red;
}

a:hover
{
  font-weight: bolder;
  font-size: large;
}
table
{
    border: 3px outset;
    border-radius: 20px;
    box-shadow: 6px 6px 6px black; 
}
th, .return
{
    font-size:large;
}
td, th, .head
{
    font-size: 18px;
    border: 1px solid black;
    box-shadow: 6px 6px 6px black;
    border-radius: 40px; 
}
.first, .head
{
    background-color: rgb(108, 13, 233);
    border-radius: 40px; 
}
.first
{
    width: 300px;
}

.head
{
    width: 100%;
}
.formation
{
    font-size: 25px;
    width: 500px;
}

tr, .certif
{
    width:100%;
}
.return{
    line-height: 2;
    padding:0px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: rgb(108, 13, 233);
    font-size: 40px;
    border: 1px solid black;
    box-shadow: 6px 6px 6px black;
    border-radius: 20px; 
}